.text-box {
  animation: 10s infinite;
  background-image: linear-gradient(to right, #ff6868, #ff68de);
  background-clip: text;
  color: transparent;
  /* //filter: drop-shadow(6px 6px 10px #ff6868); */
}
@keyframes color {
  0% {
    background-image: linear-gradient(to right, #ff9e68, #ff68de);
    background-clip: text;
    color: transparent;
  }
  25% {
    background-image: linear-gradient(to right, #fdc639, #ff7c60);
    background-clip: text;
    color: transparent;
  }
  50% {
    background-image: linear-gradient(to right, #ff6868, #ff68de);
    background-clip: text;
    color: transparent;
  }
  100% {
    background-image: linear-gradient(to right, #6880ff, #c668ff);
    background-clip: text;
    color: transparent;
  }
  h1 {
    font-weight: 400px;
  }
}
.img {
  backdrop-filter: drop-shadow(4px 4px 10px blue);
}
